@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fira+Sans:wght@400;500&family=Poppins:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body */

/* Main Heading */

/* Container */

/* Card */

/* Input Box */

/* Enter Button */

/* Card Image */

/* Weather Details */

/* Current Date */

/* Weather Details */

/* Celsius */

/* Weather Type and its Details  */

/* Footer/ Credits  */

/* Footer Heart */
