<%- include('header'); -%>

    <!-- Main Section -->
    <div class="bg-no-repeat bg-cover bg-center relative" style="background-image: url('https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?cs=srgb&dl=pexels-fauxels-3183197.jpg&fm=jpg');  background-repeat: no-repeat;
    background-attachment: fixed; background-size: cover;">
        <div class="min-h-screen sm:flex sm:flex-row mx-0 justify-center">
            <div class="flex-col flex  self-center p-10 sm:max-w-5xl xl:max-w-2xl  z-10">
                <div class="self-start hidden lg:flex flex-col  text-white">
                    <img src="" class="mb-3">
                    <h1 class="main-head mb-3 font-bold text-5xl text-white">Hi 👋🏻 Welcome to Visitors App</h1>
                </div>
            </div>
            <div class="flex justify-center self-center ml-2 mr-2 z-1">
                <form action="/" method="POST" class="p-12 bg-white mx-auto rounded-2xl w-100">
                    <div class="mb-4">
                        <h3 class="font-semibold text-2xl text-gray-800">Enter Your Details </h3>
                    </div>
                    <div class="space-y-5">
                        <div class="space-y-2">
                            <label class="text-sm font-medium text-gray-700 tracking-wide">Name</label>
                            <input class=" w-full text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none focus:border-green-400" type="text" placeholder="Enter Your Name" name="name" />
                        </div>
                        <div class="space-y-2">
                            <label class="text-sm font-medium text-gray-700 tracking-wide">Email</label>
                            <input class=" w-full text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none focus:border-green-400" type="email" placeholder="mail@gmail.com" name="email" />
                        </div>
                        <div class="space-y-2">
                            <label class="mb-5 text-sm font-medium text-gray-700 tracking-wide">
                                Mobile Number
                            </label>
                            <input class="w-full content-center text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none focus:border-green-400" type="number" placeholder="Enter your Mobile Number" name="number" />
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="flex items-center">
                                <label class="inline-flex items-center">
                                    <input type="radio"
                                        class="form-radio h-4 w-4 bg-blue-500 focus:ring-blue-400 border-gray-300 rounded"
                                        name="check_time" value="true">
                                    <span class="ml-2">Check In</span>
                                </label>
                            </div>
                            <div class="flex items-center">
                                <label class="inline-flex items-center">
                                    <input type="radio"
                                        class="form-radio h-4 w-4 bg-blue-500 focus:ring-blue-400 border-gray-300 rounded"
                                        name="check_time" value="false">
                                    <span class="ml-2">Check Out</span>
                                </label>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="w-full flex justify-center bg-green-400  hover:bg-green-500 text-gray-100 p-3  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('footer'); -%>